.jumbotron {
    background-image: url("../IMG/Zion_Panorama.jpg");
    background-size: cover;
}

body {
    background-color: #C6BAA9;
}

p {
    color: #907D61;
}

div>h1, h3{
    font-family: 'Lobster', cursive;
}

h3 {
    display: inline-block;
    float: left;
}

.date {
    display: inline-block;
    float: right;
}

.post {
    clear: both;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}