@media screen and (min-width:992px) {

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    .column {
        float: left;
    }

    .one-third {
        width: 33.33%;
    }

    .two-thirds {
        width: 66.67%;
    }

    .one-half {
        width: 50%;
    }

    .one-fourth {
        width: 25%;
    }

    .one-eighth {
        width: 12.5%;
    }

    .one-fifth {
        width: 20%;
    }

    .row {
        width: 100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .offset-two-thirds {
        margin-left: 66.67%;
    }

    .offset-one-third {
        margin-left: 33.33%;
    }

}