.jumbotron {
    background-image: url("../IMG/pizzaworld.png");
    background-size: cover;
}

.jumbotron h1 {
    text-align: center;
    background-color: #FFF;
    opacity: 0.5;
}

.container {
}

.navbar img {
    height: 1.5em;
    width: 1.5em;
}