.jumbotron {
    background-image: url("../IMG/pizzaworld.png");
    background-size: cover;
}

.jumbotron h1 {
    text-align: center;
    background-color: #FFF;
    opacity: 0.5;
}

.navbar img {
    height: 1.5em;
    width: 1.5em;
}

.btn-primary {
    float: right;
}

.btn-group {
    float: right;
}

.card-body {
    padding: 0;
}

.card-body .card-header {
    margin: 0;
    width: 100%;
}

.inner-card .card-header {
    width: 100%;
}

.card {
    width: 100%;
    margin-bottom: 1em;
}

.card p {
    padding: 1em;
    margin-bottom: 0;
}

.list-group-item {
    padding: .5em;
    background-color: #DCEDF6;
}

.inner-card {
    padding: 0;
    width: 96%;
    margin: 1em;
}

#cheese .inner-card {
    background-color: #DCEDF6;
}

.card-title {
    margin-bottom: 0;
}

li {
    padding: 1em;
}

.btn {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    float: right;
}

.previous {
    margin-right: 0;
}

.card-body>.card-header {
    background-color: #2E7CF6;
}

.inner-card>.card-header {
    background-color: #F7F7F7;
}

.card-footer {
    background-color: #F7F7F7;
    padding: 0;
}

.input-group-text {
    background-color: #FFF;
    border: none;
}

.form-group {
    padding: 1em;
}

h5 {
    color: #FFF;
}

/*#DCEDF6*/