body {
    background-image: url(../IMG/background1.png);
    background-color: #000;
    font-family: 'Mina', sans-serif;
    color: #696969
}

header {
    text-align: center;
    color: #FFF
}

h2 {
    color: #FFF; /* single line comment */
    text-decoration: underline;
}

ul {
    list-style: square;
}

td {
    padding: 1em;
    font-size: small;
    text-align: center;
}

th {
    padding: .5em;
    font-size: large;
    text-align: center;
    text-decoration: underline;
}

a:link {
    color:blue;
}

a:visited {
    color:red;
}

a:hover {
    color:white;
}

a:active {
    color:grey;
}
